.PortfolioBox {
  @apply flex flex-col justify-center items-center w-full gap-10 mt-20;

}

.PortfolioBox>div:nth-child(1) {
  @apply text-6xl;
  color: #7661BE;
  font-family: 'Freesentation-9Black';
}


.squareWrap {
  /* @apply flex gap-5 justify-center; */
  @apply flex gap-5 justify-center flex-wrap;
  width: 100%;
  max-width: 1200px;
}