.container{
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 80vh;
}

.contents {
  width: 100%;
  padding: 5rem 0;
}