/* .container{
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 80vh;
}

.contents {
  width: 100%;
  padding: 5rem 0;
} */

.container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.profile {
  position: fixed;
  top: 15%; 
  left: 2rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 80vh;
  padding: 1rem;
}

.contents {
  width: calc(100% - 360px - 3rem); /* profile의 넓이와 gap을 제외한 나머지 */
  padding: 5rem 0;
  margin-left: calc(360px + 3rem); /* profile 넓이와 gap만큼 왼쪽으로 밀기 */
}



